
.sender-email {
    margin-left: 10px;
}

.big-subject-preview {
    width: 100%;
    padding-left: 20px;
}    

.big-content-container {
    width: 100%;
    padding-left: 20px;
}

.preview-icons {
  padding-bottom: 10px;  
}

.preview-icons i {
  cursor: pointer;  
}