
.compose-container{
    width: 72%;
    height: 90%;
    border: 2px solid black;
    background-color: white;
}

.compose-container input {
    box-shadow: none;
} 

.compose-header {
  border-bottom: 2px solid black;  
}