.preview-container {
    width: 100%;
    border: 1px solid black
}  

.email-preview {
    padding: 20px;
    cursor: pointer
}

.email-preview:hover {
    background-color: #fce8e6;
  }

.txt-preview {
    width: 100%;
}    