.email-filter {
    display: flex;
    font-size: 1.0rem;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    padding: 11px;
    max-width: 1150px;
}

.inner-container {
    width: 47%;
    justify-content: space-between;
}    

.sort-container {
    height: 30px;
    width: 40%;
    border: 1px solid black;
}

.sort-container span {
    border-left: 1px solid black;
    height: 30px;
}

.filter-container input, select{
  height: 30px
}