.preview-container {
    width: 100%;
    /* border: 1px solid black */
    border-bottom: 3px solid #dbe0e2;
}

.preview-container i {
    color: gray;
    font-size: 26px;
}

.email-preview {
    padding: 14px 20px;
    cursor: pointer;
    align-items: center;
    font-family: tahoma;
}

.email-preview:hover {
    background-color: rgb(216, 209, 209);
}

@media only screen and (max-width: 850px) {
    .txt-preview {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 14px;
    }
}

.txt-preview {
    width: 100%;
}

.email-preview h3 {
    width: 100%;
} 

@media only screen and (max-width: 850px) {
    .email-preview p{
        padding-left: 20px;
    }
}

.txt-preview p {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.txt-preview p span.bold {
    font-weight: 600;
}

.txt-preview p {
    letter-spacing: 2px;
    padding-left: 16px;
}

.sender-email {
    color: gray;
} 

.txt-preview .sender {
    width: 30%;
    font-weight: 600;
    text-transform: capitalize;
}

.txt-preview .subject {
    width: 70%;
}