.preview-container {
    width: 100%;
    /* border: 1px solid black */
    border-bottom: 3px solid #dbe0e2;
}

.preview-container i {
    color: lightblue;
    font-size: 26px;
}

.email-preview {
    padding: 14px 20px;
    cursor: pointer;
    align-items: center;
    font-family: tahoma;
}

.email-preview:hover {
    background-color: #fce8e6;
}

.txt-preview {
    width: 100%;
}

.txt-preview p {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.txt-preview p span.bold {
    font-weight: 600;
}

.txt-preview .sender {
    width: 30%;
    font-weight: 600;
}

.txt-preview .subject {
    width: 70%;
}