.side-bar {
  border: 2px solid black;
  padding: 10px;
  background-color: white;
  height: 50%;
}

.compose-btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  width: 10rem;
  height: 2.5rem;
  padding: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 1px 5px 6px -5px black;
  cursor: pointer; 
  margin-bottom: 4px; 
}

.compose-btn a {
  text-decoration: none; 
  color: black;
}

.side-bar h2 {
  color: #202124;
}

.side-bar i {
  color: darkseagreen;
  font-size: 33px;
}

.side-links {
  text-decoration: none;
  width: 100%;
}

.side-links:hover {
  background-color: whitesmoke;
}

.router-link-active{
  background-color: #fce8e6;
}

