.side-bar {
  padding: 17px 30px;
  background-color: white;
  height: 50%;
  max-width: 300px;
  color: #5f6368;
}

/*#region COMPOSE  */

.compose-btn {
  background-color: white;
  border-radius: 50px;
  width: 11rem;
  height: 3.5rem;
  padding: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 9px -3px black;
  cursor: pointer;
  margin-bottom: 4px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.compose-btn .router-link-active {
  background-color: rgba(0, 0, 0, 0);
}

.compose-btn .router-link-active span {
  background-color: rgba(0, 0, 0, 0);
  /* border-radius: 50px; */
  /* width: 11rem; */
  color: rgb(149, 227, 137);
}

.compose-btn span {
  color: #5f6368;
}

.compose-btn span:hover {
  color: rgb(149, 227, 137);
}

.compose-btn:active {
  box-shadow: none;
  border: 1px solid lightgray
}

.compose-btn a {
  text-decoration: none;
  color: black;
}

/*#endregion COMPOSE  */

/*#region SIDE BAR */

.side-bar-btns {
  /* background-color: lightgreen; */
  align-self: flex-start;
  width: 100%;
}

.side-links {
  text-decoration: none;
  width: 100%;
  transition: 0.2s;
}

.side-links:hover {
  background-color: rgb(216, 209, 209);
  border-radius: 0px 50px 50px 0px;
}

.router-link-active {
  background-color: rgb(216, 209, 209);
  border-radius: 0px 50px 50px 0px;
}

.side-bar h2 {
  color: #5f6368;
  font-size: 15px;
}

.side-bar i {
  color: gray;
  font-size: 15px;
}

.side-bar-btns i {
  margin: 0px 10px;
}

.close-menu {
  display: none;
}  

/* menue responsive  */
@media (max-width: 850px){
  .side-bar.open {
      display: block;
  }   
}
@media (max-width: 850px){
  .side-bar .close-menu {
      position: absolute;
      right: -20px;
      width: 50px;
      height: 50px;
      top: 10vh;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(100%, 0);
      background: white;
      cursor: pointer;
      color: #767676;
      box-shadow:0px 0px 9px -3px black
  }
}

@media (max-width: 850px){
  .side-bar {
    height: 100%;
    flex: 0 0 75%;
    max-width: 75%;
    width: 36%;
    position: fixed;
    z-index: 2;
    background: rgb(255, 255, 255);
    bottom: 0;
    top: 0;
    left: 0;
    display: none;
  }
}

@media (max-width: 850px){
  .side-bar .close-menu {
      position: absolute;
      right: -20px;
      width: 50px;
      height: 50px;
      top: 10vh;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(100%, 0);
      background: white;
      cursor: pointer;
      color: #767676;
  }  
}
/*#endregion SIDE BAR */