* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #edf6ff;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

input {
    font-size: 1rem;
    padding: 6px;
    font-family: tahoma, FontaAwesome;
    letter-spacing: 1px;
    width: 180px;
    border: none;
    box-shadow: 1px 1px 1px 1px lightgrey;
    border-radius: 5px;
    /* outline: none; */
    margin: 10px;
}

img {
    width: 160px;
    padding-bottom: 10px;
}

header {
    background-color: rgb(143, 143, 143);
    padding: 0px 10px;
    color: white;
    letter-spacing: 1px;
    font-weight: 000;
}

h1 {
    margin: 0;
}