
.home-page {
    font-size: 1rem;  
}

.home-page-header{
    height: 300px;
}


.home-page-header h1{
    margin-top: 90px;
    color: brown;
}

.main-content-container {
    height: 362px;
}

.main-content-container img {
  width: 200px;
  height: 200px; 
  border-radius: 50px; 
}

.home-footer {
    width: 100%;
    justify-content: center;
    border-top: 2px solid grey;
}

.about-app-container {
  margin-left: 14px;  
}