
.home-page {
    font-size: 1.3rem; 
    font-family: monospace; 
}

.home-page-header{
    height: 300px;
    justify-content: center;
}


.home-page-header h1{
    margin-top: 90px;
    color: #40bcff;
    width: 60%;
}

.main-content-container {
    height: 362px;
}

.main-content-container img {
  width: 200px;
  height: 200px; 
  border-radius: 50px; 
}

.home-footer {
    width: 100%;
    justify-content: center;
    border-top: 2px solid grey;
}

.home-footer p {
    color: #40bcff;
}

.about-app-container {
  margin-left: 14px; 
  width: 33%; 
}

.about-app-container p{
    color: #6dcafc; 
}