.book-list {
  /* background-color: lightpink; */
  padding: 10px;
}

.book-list a {
  text-decoration: none;
  color: black;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Rubik', sans-serif;
}